{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 title" align="center">
            <span class="big_title">Sciencerely.org</span><br/>is coming soon!
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 main_text" align="center">
            <p>Sciencerely will be a free platform for individual scientists in any field in any part of the world to find each other to connect, pool resources, and begin collaborating. Scientists - students, postdocs,
            faculty, researchers - who are interested in forming these
            collaborations can create individual 'Sciencerely Collaborator'
            profiles and settings that will automatically let them know when a
            Collaborator with their specified geographic and scientific interests is open to new collaborations. If a Collaborator finds someone on the
            site they would like to contact, they can reach out through
            Sciencerely's site in a way that enables a connection and also
            respects personal privacy.</p>
            <p><strong>Basically, we want to expand and better connect the planet's human brainpower grid to do important (or just cool!) science.</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3" align="center">
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="http://sciencerely.us3.list-manage1.com/subscribe/post?u=39afc52434a278dbaf8cd038a&amp;id=f591b1c736"
                method="post" id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form" class="validate" target="_blank"
                novalidate>
                <div class="mc-field-group">
                    <label for="mce-EMAIL"> </label>
                    <span class="email_text">I am interested in finding new collaborators! Here's my email to keep me posted:</span><input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
                </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good
                things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text"
                name="b_39afc52434a278dbaf8cd038a_f591b1c736" value=""></div>
                <div class="clear"><button type="submit"
                name="subscribe" id="mc-embedded-subscribe" class="btn btn-success">Sign me up!</button></div>
                </form>
            </div>

            <!--End mc_embed_signup-->
        </div>
    </div>
</div>
{% endblock content%}
