{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 title" align="center">
            <span class="big_title">Sciencerely.org</span><br/>is coming soon!
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 lead" align="center">
            <p>Sciencerely will be a platform for scientists in any field in any part of the world to find each other to connect, pool resources, and begin collaborating. Scientists - students, postdocs,
            faculty, researchers - who are interested in forming these
            collaborations can create individual 'Sciencerely Collaborator'
            profiles and settings that will automatically let them know when a
            Collaborator with their specified geographic and scientific interests is open to new collaborations. If a Collaborator finds someone on the
            site they would like to contact, they can reach out through
            Sciencerely's site in a way that enables a connection and also
            respects personal privacy.</p>
            <p><strong>Basically, we want to expand and better connect the planet's human brainpower grid to do important (or just cool!) science.</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3" align="center">
            <p>I like collaboration! Here's my email to keep me posted: <input></input></p>
            <p>Inquiries: info@sciencere.ly</p>
        </div>
    </div>
</div>
{% endblock content%}
