body {
	font-family: Arial;
}

div {
	padding: 10px;
}

#mc_embed_signup {
	top: -10px;
}

#mc_embed_signup div {
	padding: 5px;

}

.mc-field-group {
	top: -10px;
}

.title {
	font-family: 'Montserrat', serif;
	font-size: 1.9em;
}

.big_title {
	color: #35a5d5;
	/*font-style: italic;*/
	font-weight: bold;
	font-size: 2em;
}

@media (max-width: 992px) {
	.title {
		font-size: 1.5em;
	}
}